.home {
  position: relative;
  font-family: "Poppins", "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  .bg-holder {
    background-image: url("../assets/illustrations/hero-bg.png");
    background-position: bottom;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 100%;
  }

  .container {
    position: relative;
    max-width: 1140px;
    width: 100%;
    padding: 0 1rem;
    margin-right: auto;
    margin-left: auto;

    .items {
      padding: 7.5rem 0;
      align-items: center;
      margin: 0 -1rem;
      display: flex;
      flex-wrap: wrap;

      .image-block,
      .col {
        text-align: left !important;
        width: 50%;
        padding: 0 1rem;
      }

      .image-block {
        text-align: right;
      }

      .img-fluid {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        width: 350px;
      }

      .col {
        .badge {
          line-height: 0.8125rem;
          width: 50%;
          border-radius: 50rem;
          background-color: #e2eaed;
          margin-bottom: 1rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 0.35em 0.65em;
          font-size: 0.75em;
          font-weight: 700;
        }

        .title {
          line-height: 1.25;
          font-weight: 700;
          margin-bottom: 1.8rem;
          font-size: 2.98598rem;
        }

        .para {
          font-size: 1.2rem;
          margin-bottom: 1.8rem;
          margin-top: 1rem;
          text-align: left;
          color: #616368;
        }

        .btn,
        .btn-link {
          cursor: pointer;
          text-decoration: none;
          border-radius: 50rem;
          font-size: 1rem;
          line-height: 1.5;
          text-align: center;
          border: 1px solid transparent;
        }

        .btn {
          padding: 0.6rem 1.8rem;
          color: #fff;
          background-color: #2500f9;
          &:hover {
            background-color: #1111bc; // Change to your desired hover color
            transform: translateY(-0.5em);
            box-shadow: 0 8px 16px rgba(37, 0, 249, 0.2); 
            transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
          }
        }

        .btn-link {
          padding-left: 1.8rem !important;
          font-weight: 400;
          color: #2500f9;
          border: 1px solid transparent;
          padding: 0.56rem 0.8rem;
        }
      }
    }
  }
}
